$color-primary: #901C1C;
$color-secondary: #DB8876;
$color-tertiary: #C4C4C4;
$color-quaternary : #FAFAFA;
$color-quinary: #525252;
$color-senary: #757575;
$color-septenary : #D3573C;


$breakpoints: (
    mobile: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1300px,
);