$color-primary: #901C1C;
$color-secondary: #DB8876;
$color-tertiary: #CACACA;
$color-quaternary : #FAFAFA;

$breakpoints: (
    mobile: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1200px,
);