#medias_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include laptop {
        flex-direction: row;
    }
    .sort_media {
        display: none;
        @include laptop {
            display: block;
            width: 100%;
            margin: 20px;
            select {
                padding: 15px 25px 15px 25px;
                border-radius: 5px;
                background-color: $color-primary;
                color: white;
                border: 0px;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                -o-appearance: none;
                appearance: none;
            }
        }

    }
    .card {
        margin: 20px;
        text-align: center;
        max-width: 335px;
        img {
            width: 100%;
            height: 190px;
            object-fit: cover;
            border-radius: 5px;
            @include laptop {
                height: 250px;
                width: 250px;
            }
        }
        .content {
            display: flex;
            justify-content: space-between;
            color: $color-primary;
        }
    }
}