nav {
    font-size: 14px;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 0px;
        li {
            margin: 5px;
            border-style: solid;
            border-width: 0.5px;
            border-radius: 11px;
            border-color: $color-tertiary;
            a {
                padding: 2px;
                color: $color-primary;
            }
        }
        :hover {
            border-radius: 11px;
            background-color: $color-primary;
            color: white;
        }
    }
}