#photographer_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    @include laptop {
        flex-direction: row;
    }
    .card {
        margin: 20px;
        text-align: center;
        @include laptop {
            width: 30%;
        }
        p {
            margin: 2px 0px 2px 0px;
        }
        ul {
            margin: 2px 0px 2px 0px;
        }
        h2 {
            margin-bottom: 10px;
            font-size: 30px;
            color: $color-septenary;
        }
        .location {
            color: $color-primary;
        }
        .price {
            color: $color-senary;
        }
    }
}