.sort_media {
    display: none;
    @include laptop {
        display: block;
        margin: 20px;
        select {
            cursor: pointer;
            padding: 15px 25px 15px 25px;
            border-radius: 5px 0px 0px 5px;
            background-color: $color-primary;
            color: white;
            border: 0px;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
        }
        .select_arrow {
            cursor: pointer;
            color: white;
            position: absolute;
            background-color: $color-primary;
            padding: 12px 25px 15px 0px;
            border-radius: 0px 5px 5px 0px;
            .fa-angle-up {
                display: none;
            }
            .fa-angle-down {
                display: contents;
            }
        }
    }

}