header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70%;
    @include laptop {
        flex-direction: row;
    }
    color: $color-primary;
    .dynamic_display {
        display: none;
    }
    img {
        width: 224px;
        height: 52px;
    }
}
main {
    .title {
        color: $color-primary;
        font-size: 14px;
        position: absolute;
        top: 20px;
        right: 15px;
        @include tablet {
            font-size: 32px;
            top: -5px;
        }
    }
}